body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    color:white;
}
.header
{
    background-color: black;
    color:white;
    padding:10px;
    text-align: center;
    font-size:20px;
    z-index:1;
}
.parent
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: example 2s ease-in 10ms  forwards;
    
}
.child
{
    flex:45%;
    border:1px solid black;
    overflow: auto;
    margin:1%;
    padding:10px;
    border-radius:15px ;
    background-color:black;
}
.Order{
        color:white;
        text-decoration: none;
        display: block;
        border-radius:20px;
        border:2px solid white;
        padding:10px;
        width:20%;
        margin: auto;
        text-align: center;
}
.Order:hover 
{
    background-color: orangered;
    border: none;
}
@keyframes example {
    0%{margin-left:-3000px;}
    100%{margin:2%;}
}
small
{
    color:gray;
}
.Footer
{
    font-family:TimeBurner;
    display:flex;
    background-color: #333;
    color:white;
}
.links
{
    flex:50%;
    padding:2% 6%;
}
.links i,.links h2
{
    color: yellow;
}
.links a
{
    display: block;
    color: white;
    text-decoration: none;
    padding:6px;
}
.links a:hover{color: orangered;}
.links >div
{
    padding:6px;
}
span{color:orangered;font-size:20px;}
@media screen and (max-width:750px)
{
    .Footer{flex-direction: column;}
}
@media screen and (min-width:650px) and (max-width:1024px)
{
    .parent{flex-direction: column;}
    .child{flex:96%;margin:2%;}
    .header
    {
        font-size:10px;
    }
}
@media screen and (max-width:400px)
{
    .parent{flex-direction: column;}
    .child{flex:96%;margin:2%;}
    .header
    {
        font-size:10px;
    }
}