body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
}
.header
{
    background-color: black;
    color:white;
    padding:10px;
    text-align: center;
    font-size:30px;
}
.parent
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: example 2s ease-in 10ms  forwards;
}
@keyframes example {
    0%{margin-left:-3000px;}
    100%{margin:0.5%;}
}
.child
{
    flex:20%;
    box-shadow:0 0 8px black;
    margin:5px;
}
.child img
{
    display: block;
    width:100%;
    height:201px;
    margin:0;
}
.desc
{
    padding:4px 10px;
    background-color: black;
    color:white;
}
h3
{
    font-size:25px;
}
small
{
    color: grey;
}
span
{
    color:orangered;
    font-weight: bold;
    font-size:20px;
}
.Order{
        color:white;
        text-decoration: none;
        display:inline-block;
        border-radius:20px;
        border:2px solid white;
        padding:10px;
        width:20%;
        margin: auto;
        text-align: center;
        margin-left:200px;
}
.Order:hover 
{
    background-color: orangered;
    border:2px solid orangered;
}
.Footer
{
    font-family:TimeBurner;
    display:flex;
    background-color: #333;
    color:white;
    margin:0;
    width:100%;
}
.links
{
    flex:50%;
    padding:2% 6%;
}
.links i,.links h2
{
    color: yellow;
}
.links a
{
    display: block;
    color: white;
    text-decoration: none;
    padding:6px;
}
.links a:hover
{
    color: orangered;
}
.links >div
{
    padding:6px;
}
@media screen and (max-width:750px)
{
    .Footer{flex-direction: column;}
}
@media screen and (max-width:750px)
{
    .footer{flex-direction: column;}
}
@media screen and (min-width:401px) and (max-width:650px)
{
    #emj
    {
        display: block;
        margin:10px;
    }
    .header
    {
        font-size:15px;
    }
    .child
    {
        flex:100%;
        margin:12px;
    }
    .order
    {
        margin-right:20px;
    }
}

@media screen and (max-width:400px)
{
    #emj
    {
        display: block;
        margin:10px;
    }
    .header
    {
        font-size:15px;
    }
    .parent
    {
        flex-direction: column;
    }
    .child
    {
        flex:90%;
        margin:10px auto;
    }
}
@media screen and (min-width:650px) and (max-width:1295px)
{
    #emj
    {
        display: block;
        margin:10px;
    }
    .header
    {
        font-size:15px;
    }
    .child
    {
        flex:45%;
        margin:12px;
    }
    .desc
    {
        padding:5px 5px;
        background-color: black;
        color:white;
    }
    h3
    {
        font-size:15px;
    }
    small
    {
        color: grey;
    }
    span
    {
        color:orangered;
        font-weight: bold;
        font-size:15px;
    }
}
@media screen and (min-width:745px) and (max-width:1295px)
{
    .child{height:350px;}
}